:root {
  --primary: #ffffff;
  --bg: #fbf7ef;
  --btn-color: #3ecf4c;
  scroll-padding-top: 100px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #222325;
  padding-top: 80px;
  min-height: 2000px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 7%;
  background-color: var(--primary);
  border-bottom: 1px solid #3a35411f;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar .navbar-logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffbd3a;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: #f64920;
}
.navbar .navbar-nav a {
  color: #333333ad;
  display: inline-block;
  font-size: 16px;
  margin: 0 1rem;
}

.navbar .navbar-nav .navbar-link {
  margin-right: 1.5rem;
  font-size: 16px;
}

.navbar .navbar-nav .avatar img {
  width: 44px;
  height: 44px;
  border-radius: 10px;
  display: block;
}

/* hero section */
.hero {
  min-height: 400px;
  margin: 2rem 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(assets/image/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  color: var(--primary);
  padding: 2rem;
}

.hero .content {
  max-width: 800px;
}

.hero .content h1 {
  font-family: poppins, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.hero .content p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.hero .content .cta {
  display: inline-block;
  padding: 0.8rem 2rem;
  background-color: var(--btn-color);
  color: var(--primary);
  border-radius: 10px;
  transition: 0.3s;
}

.hero .content .cta:hover {
  background-color: #279c30;
}

.card-grid {
  padding: 2rem 7% 1.4rem;
}

.card-grid h2 {
  font-style: poppins, sans-serif;
  text-align: left;
  font-size: 32px;
  margin-bottom: 0.5rem;
  color: #222325;
  font-weight: 500;
}

.card-grid p {
  font-size: 1rem;
  color: #333333ad;
}

.card-grid .link-section {
  margin-top: 2rem;
  flex-wrap: wrap;
  display: flex;
  gap: 2rem;
}

.card-grid .link-section .link {
  display: inline-block;
  border-radius: 10px;
  color: #333333ad;
  transition: 0.3s;
}

.card-grid .link-section .link:hover {
  color: #f64920;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
  margin-top: 32px;
}
.course-card {
  background: var(--primary);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.04);
  border: 1px solid #f0f0f0;
  display: flex;
  flex-direction: column;
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card-title {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 8px;
  color: #222325;
  line-height: 1.4;
}

.card-desc {
  font-size: 1rem;
  color: #333333ad;
  margin-bottom: 20px;
  line-height: 1.5;
}

.card-author {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.author-img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #f0f0f0;
}

.author-info {
  display: flex;
  flex-direction: column;
}

.author-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  color: #222325;
}

.author-role {
  font-size: 0.8rem;
  color: #333333ad;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding-top: 15px;
}

.card-rating {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.8rem;
  color: #333333ad;
}

.stars {
  font-size: 0.9rem;
  letter-spacing: 2px;
}

.price {
  font-size: 20px;
  font-weight: 500;
  color: var(--btn-color);
}

.newsletter {
  min-height: 400px;
  margin: 2rem 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(assets/image/newsletter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
  color: var(--primary);
  padding: 8rem;
}

.newsletter .content {
  max-width: 550px;
}

.newsletter .content .header p {
  font-size: 18px;
  color: #c1c2c4;
  letter-spacing: 1px;
}

.newsletter .content h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.newsletter .content p {
  font-size: 1rem;
  margin-bottom: 2px;
  position: relative;
}

.input-group {
  position: relative;
  display: flex;
  margin-top: 2rem;
}

.input-field {
  width: 100%;
  height: 3rem;
  border-radius: 10px;
  padding: 1px solid var(--primary);
  padding-inline: 26px;
  box-sizing: border-box;
}

.btn-submit {
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: 8px;
  background-color: #ffbd3a;
  color: #ffffff;
  font-weight: 500;
  padding: 0 1.5rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.footer {
  background-color: #ffffff;
  padding: 60px 7% 30px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
  gap: 40px;
}

.logo {
  max-width: 380px;
}

.footer-logo {
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffbd3a;
  text-decoration: none;
  font-style: italic;
  display: inline-block;
  margin-bottom: 20px;
}

.footer-logo span {
  color: #f64920;
}

.tagline {
  font-size: 16x;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 15px;
}

.address,
.phone {
  margin-bottom: 10px;
  font-size: 16px;
}

.footer-link {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
}

.link-column h3 {
  color: #222325;
}

.link-column ul {
  list-style: none;
}

.link-column ul li {
  margin-bottom: 15px;
}

.link-column ul li .link {
  color: #333333ad;
  text-decoration: none;
  font-size: 16px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 30px;
  border-top: 1px solid #e0e0e0;
  gap: 20px;
}

.copyright {
  color: #333333ad;
  font-size: 16px;
}

.social-icon {
  display: flex;
  gap: 15px;
}

.social-icon a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #333333ad;
  color: #222325;
}
/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  .navbar {
    padding: 0.8rem 5%;
  }

  .navbar .navbar-nav .navbar-link {
    margin-right: 1rem;
    font-size: 14px;
  }

  .navbar .navbar-nav .avatar img {
    width: 36px;
    height: 36px;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .newateller {
    padding: 4rem 2rem;
  }
  .newsletter .content h2 {
    font-size: 1.5rem;
  }
}

/* Mobile */
@media (max-width: 450px) {
  .newsletter {
    padding: 3rem 1.5rem;
    margin: 2rem 5%;
  }

  .newsletter .content h2 {
    font-size: 1.25rem;
  }

  .newsletter .content p {
    font-size: 0.9rem;
  }

  .input-group {
    flex-direction: column;
    gap: 12px;
  }

  .input-field {
    padding-inline: 15px;
  }

  .btn-submit {
    position: static;
    width: 100%;
    height: 3rem;
  }
}
